<% content_for :title do %>
product name
<% end %>

<% content_for :body_class do %>
fixed-aside sidebar-nav
<% end %>

<%= react_component("Nav", props: @props[:Nav], prerender: true, html_options: [["style", "display: contents;"]]) %>

<header class="sticky" id="header-root"></header>
<div class="js-edit-product-container" data-has-rich-content data-tab-style="basic" style="display: contents">
  <div class="edit-product-wrapper squished" style="display: contents">
    <div class="edit-page-tab-holder" style="display: contents">
      <main class="edit-page-tab basic-tab js-basic-tab" style="display: none">
        <form
          data-active-customers-count="0"
          data-aws-access-key-id="AKIAIFX4MRO3Q3CSRVWQ"
          data-id="dcfqu"
          data-s3-url="https://s3.amazonaws.com/gumroad"
          data-user-external-id="9078562000866"
          id="edit-link-basic-form"
          method="post"
          style
        >
          Initializing...
          <!--  -->
          <!-- IMPORTANT: the next 3 data-* attribute values have to be surrounded by single quotes, otherwise it won't work -->
          <!--  -->
          <div data-all-attributes='<%= raw encode_special_chars(JSON.generate(@edit_attributes)) %>' id="edit-attributes"></div>
          <div data-discover-taxonomy-options='<%= raw encode_special_chars(JSON.generate(@discover_taxonomy_options)) %>' id="discover-taxonomy-options"></div>
          <div data-current-seller='<%= raw encode_special_chars(JSON.generate(@current_seller)) %>' id="current-seller"></div>
          <div
            class="js-rich-text-image-credentials hidden"
            data-aws-access-key-id="AKIAIFX4MRO3Q3CSRVWQ"
            data-s3-url="https://s3.amazonaws.com/gumroad"
            data-user-external-id="9078562000866"
          ></div>
          <div class="js-preview-ui-container" data-s3-url="https://s3.amazonaws.com/gumroad"></div>
          <div
            class="hidden"
            data-aws-access-key-id="AKIAIFX4MRO3Q3CSRVWQ"
            data-post-url="/links/dcfqu/asset_previews"
            data-product-url="https://app.gumroad.jacquesdesmarais.dev/links/dcfqu.json"
            data-s3-url="https://s3.amazonaws.com/gumroad"
            data-user-external-id="9078562000866"
            id="preview-form-settings"
          ></div>
        </form>
      </main>
      <div
        class="edit-page-tab content-tab js-content-tab"
        style="overflow: auto; grid-column: 1; grid-row: 1; display: none; flex-direction: column"
      >
        <form
          data-active-customers-count="0"
          data-aws-access-key-id="AKIAIFX4MRO3Q3CSRVWQ"
          data-id="dcfqu"
          data-s3-url="https://s3.amazonaws.com/gumroad"
          data-user-external-id="9078562000866"
          id="edit-link-content-form"
          method="post"
          style="display: contents"
        ></form>
      </div>
      <main class="edit-page-tab share-tab js-share-tab" style="display: none">
        <form
          data-active-customers-count="0"
          data-aws-access-key-id="AKIAIFX4MRO3Q3CSRVWQ"
          data-id="dcfqu"
          data-s3-url="https://s3.amazonaws.com/gumroad"
          data-user-external-id="9078562000866"
          id="edit-link-share-form"
          method="post"
          style
        >
          <div id="share-form-root"></div>
          <section class="share-tab-section input-group">
            <div id="share-links-root" style="display: contents"></div>
          </section>
          <section class="share-tab-section input-group" id="profile-settings-root"></section>
          <section class="share-tab-section input-group" id="discover-settings-root"></section>
        </form>
      </main>
    </div>
  </div>
  <aside aria-label="Preview" data-gumroad-ignore="true" id="product-preview-root" style="display: none"></aside>
  <%= react_component("ProductContentPreview", props: @props[:ProductContentPreview], prerender: false, html_options: [["style", "display: contents;"]]) %>
</div>
<div id="turn-on-ai-assistant-dialog"></div>
<div id="make-shorter-longer-dialog"></div>
