<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield(:title).blank? ? "Gumroad" : yield(:title) %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_pack_tag 'client-bundle' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body class="<%= @body_class %>" id="app">
    <div
      data-settings='{"font":{"name":"Mabry Pro","url":"/assets/mabry-regular-pro-2987dea5e28da4cf6ec452e081243d69aa29503e7f870eddabcb2225dac42343.woff2"}}'
      id="design-settings"
      style="display: none"
    ></div>
    <div data-settings='{"is_mobile":false}' id="user-agent-info" style="display: none"></div>
    <div
      class="flash-message js-flash-message"
      style="
        position: fixed;
        left: 0;
        top: 0;
        transform: translateY(-100%);
        transition: all 0.3s ease-out 0.5s;
        z-index: var(--z-index-tooltip);
        right: 0;
        padding: var(--spacer-4);
        display: flex;
        justify-content: center;
        visibility: hidden;
        pointer-events: none;
      "
    >
      <div class="message bg-filled js-message" role="alert" status="success" style="pointer-events: auto"></div>
    </div>
    <%= yield %>
  </body>
</html>
